$brand-primary: #57428b;
$brand-two: #4d3f70;
$product-one: #8f755f;
$product-one-lite: #8f755f3f;
$product-two: #c08267;
$product-two-lite: #c082673f;
$product-tree: #ccb9b1;
$product-three-lite: #ccb9b13f;